.root {
  background-color: var(--input-bg-color);
  padding: 10px 6px;

  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-s);
  color: var(--font-primary-color);
  outline: none;

  &:focus {
    border: 1px solid var(--border-focus-color);
  }

  &::placeholder {
    color: var(--font-secondary-color)
  }
}
